.box {
  width: 20rem;
  height: 20rem;
  border: 3px solid white;
  border-radius: 10px;
  margin: 25px auto;
}

.input {
  text-align: center;
  box-sizing: content-box;
}

input {
  width: 220px;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px dashed white;
  border-radius: 5px;
  background-color: #000;
  color: white;
}

nav ul {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 25px;
}

.home {
  padding-left: 25px;
}

.theme {
  padding-right: 25px;
}

body {
  background-color: #000;
  color: white;
}

h1 {
  font-size: 28px;
}

p {
  text-align: center;
  color: white;
  font-size: 1rem;
}

@media (min-width: 850px) {
  .box {
    width: 25rem;
    height: 25rem;
  }

  .home {
    padding-left: 550px;
  }
  
  .theme {
    padding-right: 550px;
  }

  input {
    width: 220px;
    height: 2rem;
    font-size: 1.5rem;
  }

  li {
    font-size: 28px;
  }
  
  p {
    font-size: 1.5rem;
  }
}