.box {
  width: 20rem;
  height: 20rem;
  border: 3px solid white;
  border-radius: 10px;
  margin: 25px auto;
}

/* * {
  display: flex;
  justify-content: center;
} */

.input {
  text-align: center;
  box-sizing: content-box;
}

input {
  width: 220px;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px dashed white;
  border-radius: 5px;
  background-color: #000;
  color: white;
}

body {
  background-color: #000;
}

p {
  text-align: center;
  color: white;
  font-size: 1rem;
}

@media (min-width: 850px) {
  .box {
    width: 25rem;
    height: 25rem;
  }

  input {
    width: 220px;
    height: 2rem;
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.5rem;
  }
}